.vscode/**
.vscode-test/**
.gitignore
.vscodeignore
src/**
tsconfig.json
esbuild.js
**/*.map
**/*.vsix
node_modules/**
npm-debug.log
package-lock.json
media/marketplace-icon.svg
reference/**
.firecrawl/**
